* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: url(../images/bg.jpg) no-repeat center center/cover;
    color: white;
    font-family: 'Arial', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.page-content > h1 {
    font-size: 3rem;
    font-weight: 400;
    margin-bottom: 2rem;
    text-transform: uppercase;
}

.page-content > p {
    font-size: 1.5rem;
    margin-bottom: 5rem;
    text-align: center;
}

.page-input input[type="email"] {
    border: none;
    font-size: 1rem;
    margin-right: 0.5rem;
    padding: 0.75rem 1rem;
    width: 32.5rem;
}

.page-input input[type="submit"] {
    background-color: rgba(255, 255, 255, 0.2);
    border: white 1px solid;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 0.75rem 1rem;
    width: 12.5rem;
    transition: all 0.3s ease;
    position: relative;
    z-index: 1;
}

.page-input input[type="submit"]:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #000;
    transform: scale(0.95);
    transition: all 0.3s ease;
}

.page-input input[type="submit"]:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}

.page-input input[type="submit"]:hover:before {
    transform: scale(1);
}

.page-link i {
    color: white;
    font-size: 2.5rem;
    margin: 5rem 1.5rem;
    transition: all 0.3s ease;
}

.page-link i:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
}